.about-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.about-text{
    height: 500px;
}

.about-text h1{
    color: #ff0075;
}

.about-text p{
    color: #a8a8a8;
    line-height: 1.5em;
    margin-top: 10px;
}

.about-text ul{
    color: white;
}

.about-text ul li::before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #ff0075; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.about-text b{
    font-size: 1.1em;
}

.about-image{
    height: 400px;
}

.about-image img{
    height: 100%;
}