.footer-container{
    height: 100px;
    width: 100%;
    /*background: #161c24;*/
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.links-container{
    display: flex;
    justify-content: left;
}

.footer-container img{
    height: 50px;
    margin: 0 20px;
}