.header-container{
    /*display: flex;*/
    align-items: center;
    height: 100px;
}

.logo{
    float: left;
    height: 100%;
    width: 70px;
}

.logo img{
    height: 100%;
    width: 100%;
}

.header-container ul{
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #a8a8a8;
    text-transform: uppercase;
}

.header-container ul li{
    color: #a8a8a8;
    text-decoration: none;
    margin: auto 0 auto 50px;
}

.header-container ul li:hover{
    color: white;
}