li{
    margin: 10px auto;
    list-style: none;
    width: 100%;
}

li a{
    font-weight: 200;
    font-size: 1.15em;
    text-decoration: none;
    color: #a8a8a8;
}

.sidebar-element{
    padding: 5px 0;
}

.sidebar-element:hover li a{
    color: white;
}

/*.sidebar-element:hover{*/
/*    border-bottom: 1px solid #a8a8a8;*/
/*    border-radius: 5px;*/
/*}*/